<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h3>Cadastrar Item</h3>
            <div *ngIf="itemExistsError">
                <div class="alert alert-danger text-center" role="alert">
                    <small><b>ERRO!</b> Um Item com este <b>Nome já existe!</b></small>
                </div>
            </div>
            <form [formGroup]="itemAddForm" class="form mt-4" (submit)="addItem()">
                <div class="form-group mt-2 mb-2">
                    <ap-vmessage *ngIf="itemAddForm?.get('nome')?.errors?.required" text="Nome é obrigatório!"></ap-vmessage>
                    <ap-vmessage *ngIf="itemAddForm?.get('nome')?.errors?.minlength" text="Nome deve ser maior que 2 caracteres!"></ap-vmessage>
                    <ap-vmessage *ngIf="itemAddForm?.get('nome')?.errors?.maxlength" text="Nome deve ser menor que 60 caracteres!"></ap-vmessage>
                    <ap-vmessage
                        text="Item com este nome já cadastrado!"
                        *ngIf="itemAddForm.get('nome')?.errors?.nameTaken">
                    </ap-vmessage>
                    <input formControlName="nome" placeholder="Nome do Item" class="form-control">
                </div>
                
                <div class="form-group mt-2 mb-2">
                    <ap-vmessage *ngIf="itemAddForm?.get('descricao')?.errors?.required" text="Descrição é obrigatório!"></ap-vmessage>
                    <ap-vmessage *ngIf="itemAddForm?.get('descricao')?.errors?.minlength" text="Descrição deve ser maior que 2 caracteres!"></ap-vmessage>
                    <ap-vmessage *ngIf="itemAddForm?.get('descricao')?.errors?.maxlength" text="Descrição deve ser menor que 60 caracteres!"></ap-vmessage>
                    <input formControlName="descricao" placeholder="Descrição" class="form-control">
                </div>
        
                <div class="form-group mt-2 mb-2">
                    <ap-vmessage *ngIf="itemAddForm?.get('imagem')?.errors?.required" text="Link da imagem é obrigatório!"></ap-vmessage>
                    <ap-vmessage *ngIf="itemAddForm?.get('imagem')?.errors?.pattern" text="Link inválido!"></ap-vmessage>
                    <input formControlName="imagem" placeholder="URL Imagem" class="form-control">
                </div>
            
                <div class="text-center">
                    <button [disabled]="itemAddForm.invalid || itemAddForm.pending" class="btn btn-primary btn-block">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>



