<p class="text-center text-muted" *ngIf="!itens.length">
    Desculpe, nenhum item cadastrado.
</p>

<div *ngIf="itemTakenError">
    <div class="alert alert-danger text-center" role="alert">
        <small><b>ERRO!</b> Você já possui uma <b>Necessidade</b> com este <b>Item!</b></small>
    </div>
</div>

<ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row no-gutters">
        <div *ngFor="let item of cols" class="col-4" apDarkenOnHover>
            <ap-card [title]="item.nome">
                <div style="height: 100%; width: 100%;">
                    <ap-item
                        [url]="item.imagem" 
                        [description]="item.descricao">
                    </ap-item>
                </div>
               
               <!--
                <div class="text-center p-1">
                    <button type="button" class="btn btn-primary" [routerLink]="['/necessidades', 'add']">Solicitar Item</button>
                </div>
               -->
            <div class="text-center p-1">
                <button type="button" class="btn btn-primary" (click)="solicitarNecessidade(item)">Solicitar Item</button>
            </div>

            </ap-card>
        </div>
    </li>
</ol>