<h3 class="text-center">Olá, {{usuario.name}}!</h3>
<!-- <h3 class="text-center">Olá, {{user.fullName}}!</h3> -->

<div class="text-center d-flex justify-content-center">
  <div class="card border shadow-0 m-3" style="max-width: 25rem;">
    <div class="card-body">
      <h5 class="card-title"><b>Itens</b></h5>
      <p class="card-text">
        Verifique ou cadastre "Itens" na plataforma.
      </p>
    </div>
    <div class="card-footer bg-transparent border-success"><button [routerLink]="['/itens']" type="button" class="btn btn-primary btn-sm">Cadastrar</button></div>
  </div>

  <div class="card border shadow-0 m-3" style="max-width: 25rem;">
    <div class="card-body">
      <h5 class="card-title"><b>Necessidades</b></h5>
      <p class="card-text">
        Verifique ou cadastre "Necessidades" para receber doações.
      </p>
    </div>
    <div class="card-footer bg-transparent border-success">
      <button [routerLink]="['/necessidades']" type="button" class="btn btn-primary btn-sm">Cadastrar</button>
    </div>
  </div>
</div>